@tailwind base;
@tailwind components;
@tailwind utilities;


 
@layer base {

}

.changeme{
  font-family: 'Mona-Sans-Bold',sans-serif;
}

html {
  scroll-behavior: smooth;
}


@layer base {
  @font-face {
    font-family: 'Mona-Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./fonts/MonaSans-Regular.woff2) format('woff2');
  }
}

.expanded{
  font-family: 'Mona-Sans-Ex',sans-serif;
}

@font-face {
  font-family: 'Mona-Sans-Ex';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(./fonts/MonaSansExpanded-Medium.woff2) format('woff2');
}

@font-face {
  font-family: 'Mona-Sans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/MonaSans-Regular.woff2) format('woff2');
}

@font-face {
  font-family: 'Mona-Sans-Bold';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(./fonts/MonaSans-Bold.woff2) format('woff2');
}


*{
  font-family: 'Mona-Sans',sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
